* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: #efefef;
    display: flex;
    justify-content: space-evenly;
    gap: 40%;
}

header .contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    color: #afafaf;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header .contact ul {
    display: flex;
    gap: 50px;

}

header .contact ul li a {
    text-decoration: none;
    color: #afafaf;
    transition: .2s linear;
}

header .contact ul li a:hover {
    color: #FA6FB6;
}

header .contactIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    color: #ababab;
}

header .contactIcon i {
    transition: .2s linear;
}

header .contactIcon i:hover {
    color: #FA6FB6;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

nav .logo {
    background: url(../img/logo-v1.png) no-repeat center / 100%;
    width: 160px;
    height: 100%; 
}

nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul li {
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #2E2E2E;
    transition: .2s;
    font-size: 15px;
    font-weight: 600;

}

nav ul li:hover {
    color: #FA6FB6;
}

nav .navbut {
    width: 125px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid #FA65B1;
    border-radius: 23px;
    color: #FA65B1;
    background: #fff;
    transition: .3s linear;
}

nav .navbut:hover {
    background: #FA65B1;
    color: #fff;
}

.home {
    width: 100%;
    height: 100vh;
    border: 1px solid;
    background: url(../img/slider-right-dec.jpg) no-repeat top / 75%, url(../img/slider-left-dec.jpg) no-repeat left ;
}