* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: #efefef;
    display: flex;
    justify-content: space-evenly;
    gap: 40%;
}

header .contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    color: #afafaf;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header .contact ul {
    display: flex;
    gap: 50px;

}

header .contact ul li a {
    text-decoration: none;
    color: #afafaf;
    transition: .2s linear;
}

header .contact ul li a:hover {
    color: #FA6FB6;
}

header .contactIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    color: #ababab;
}

header .contactIcon i {
    transition: .2s linear;
}

header .contactIcon i:hover {
    color: #FA6FB6;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    border-bottom: 6px solid #F8F8F8;

}

nav .logo {
    background: url(../img/logo-v1.png) no-repeat center / 100%;
    width: 160px;
    height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ul li {
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #2E2E2E;
    transition: .2s;
    font-size: 15px;
    font-weight: 600;

}

nav ul li:hover {
    color: #FA6FB6;
}

nav .navbut {
    width: 125px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid #FA65B1;
    border-radius: 23px;
    color: #FA65B1;
    background: #fff;
    transition: .3s linear;
}

nav .navbut:hover {
    background: #FA65B1;
    color: #fff;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: url(../img/slider-right-dec.jpg) no-repeat top / 66%, url(../img/slider-left-dec.jpg) no-repeat left;
}

.home .dma {
    width: 35%;
    height: 70%;
}

.home .dma h4 {
    font-size: 18px;
    font-weight: 900;
    color: #FA6FB6;
    padding-top: 35px;
}

.home .dma h1 {
    font-size: 47px;
    font-weight: 800;
    color: #2A2A2A;
    padding: 10px 0;
}

.home .dma p {
    color: #BBBBBB;
    line-height: 30px;
}

.home .dma .homebut {
    width: 125px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    border: 1.5px solid #FA65B1;
    border-radius: 23px;
    color: #FA65B1;
    background: #fff;
    transition: .3s linear;
    margin-top: 20px;
}

.home .dma .homebut:hover {
    background: #FA65B1;
    color: #fff;
}

.home .homeimg {
    width: 40%;
    height: 70%;
    background: url(../img/slider-dec.png) no-repeat center / 100%;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.about .aboutImg {
    height: 100%;
    width: 42%;
    background: url(../img/about-dec.png) no-repeat bottom / 100%;
}

.about .aboutus {
    height: 100%;
    width: 42%;
}

.about .aboutus>h5 {
    font-size: 16px;
    font-weight: 800;
    color: #726AE3;
    margin: 150px 0 15px 0;
}

.about .aboutus>h3 {
    font-size: 35px;
    font-weight: 700;
    color: #2A2A2A;
    margin-bottom: 25px;
}

.about .aboutus .linedec {
    width: 8%;
    border: 1px solid #726AE3;
    margin-bottom: 25px;
}

.about .aboutus h3 span {
    color: #726AE3;
}

.about .aboutus>p {
    color: #C1C1C1;
    line-height: 28px;
}

.about .aboutus p a {
    color: #3687FD;
}

.about .aboutus .circl {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.about .aboutus .circl .coding {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: conic-gradient(#FA65B1 0deg 320deg, #fff 320deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .aboutus .circl .coding .circtext {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    background: #fff;

    text-align: center;
}

.about .aboutus .circl .coding .circtext h5 {
    font-size: 35px;
    margin-top: 25%;
    font-weight: 800;
}

.about .aboutus .circl .coding .circtext p {
    font-size: 20px;
    color: #B5B5B5;
}

.about .aboutus .circl .photoshop {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: conic-gradient(#726AE3 0deg 320deg, #fff 320deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .aboutus .circl .photoshop .circtext {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    background: #fff;
    text-align: center;
}

.about .aboutus .circl .photoshop .circtext h5 {
    font-size: 35px;
    margin-top: 25%;
    font-weight: 800;
}

.about .aboutus .circl .photoshop .circtext p {
    font-size: 20px;
    color: #B5B5B5;
}

.about .aboutus .circl .animation {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: conic-gradient(#F58B56 0deg 320deg, #fff 320deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .aboutus .circl .animation .circtext {
    width: 93%;
    height: 93%;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}

.about .aboutus .circl .animation .circtext h5 {
    font-size: 35px;
    margin-top: 25%;
    font-weight: 800;
}

.about .aboutus .circl .animation .circtext p {
    font-size: 20px;
    color: #B5B5B5;
}

.services {
    width: 100%;
    height: 150vh;
    background: url(../img/services-left-dec.jpg) no-repeat left top / 60%, url(../img/services-right-dec.jpg) no-repeat right / 12%;
}

.services .ourService {
    margin-top: 130px;
    text-align: center;
}

.services .ourService h5 {
    font-weight: 800;
    color: #726AE3;

}

.services .ourService h2 {
    font-size: 35px;
    font-weight: 800;
    padding: 15px 0 15px 0;

}

.services .ourService span {
    color: #726AE3;
}

.services .ourService .linedec2 {
    width: 50px;
    border: 1px solid #726AE3;
    margin-left: 47%;
}

.services .servicesBut {
    margin-top: 70px;
    width: 100%;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.services .servicesBut p {
    font-size: 20px;
    font-weight: 800;
}

.services .servicesBut .iconbut {
    width: 170px;
    height: 170px;
    border: 1px solid rgba(0, 0, 0, 0.100);
    border-radius: 15%;
    background: #fff;

}

.services .servicesBut .iconbut .btn {
    margin-top: 30px;
}

.services .seo {
    width: 80%;
    height: 45%;
    border: 1px solid rgba(0, 0, 0, 0.050);
    margin: 5% auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background: #fff;
}

.services .seo .seoAbout {
    width: 40%;
    height: 80%;

}

.services .seo .seoAbout h4 {
    font-size: 20px;
    font-weight: 800;
    color: #FA65B1;

}

.services .seo .seoAbout p {
    color: #C1C1C1;
    line-height: 28px;
    letter-spacing: .5px;
    padding: 30px 0;
}

.services .seo .seoAbout span {
    padding: 0 50px 0 40px;
}

.services .seo .seoAbout span:nth-child(3) {
    padding: 0 5px 0 40px;
}

.services .seo .seoAbout span:nth-child(8) {
    padding: 0 0px 0 39px;
}

.services .seo .seoImg {
    width: 40%;
    height: 80%;
    background: url(../img/services-image.jpg) no-repeat center / 100%;
}

.quote {
    width: 100%;
    height: 60vh;
    background: url(../img/quote-bg.jpg) no-repeat center / 100%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.quote p {
    font-weight: 800;
    color: #F8F8F8;
    padding: 7% 0 0 0;

}

.quote h4 {
    font-weight: 800;
    color: #F8F8F8;
    font-size: 35px;
    padding: 20px 0 20px 0;
}

.quote .linedec3 {
    width: 4%;
    border: 1px solid #F8F8F8;
    margin: 0 0 60px 47%;
}

.quote .form {
    width: 60%;
    height: 20%;
    background: #fff;
    border-radius: 40px;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .form .url {
    width: 35%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 4%;
    font-size: 16px;
    border: 1px solid #2e2e2e00;

}

.quote .form .email {
    width: 35%;
    height: 100%;
    padding: 4%;
    font-size: 16px;
    border: 1px solid #2e2e2e00;

}

.quote .form .btn2 {
    width: 35%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #726AE3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #2e2e2e00;
}

.projects {
    width: 100%;
    height: 100vh;
    background: url(../img/portfolio-left-dec.jpg) no-repeat left / 43%, url(../img/portfolio-right-dec.jpg) no-repeat right / 30%;
}

.projectHead {
    margin: 90px 120px;
}

.projects .projectHead p {
    font-weight: 800;
    color: #726AE3;
}

.projects .projectHead h4 {
    font-size: 30px;
    font-weight: 800;
    padding: 20px 0px;
}

.projects .projectHead h4 span {
    color: #726AE3;
}

.projects .projectHead .linedec4 {
    width: 4%;
    border: 1px solid #726AE3;
}

.projects .projectSlider {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.projects .projectSlider .sliderBox {
    width: 17%;
    height: 100%;
    border: 1px solid rgba(116, 116, 116, 0.185);
    border-radius: 35px;
}

.projects .projectSlider .sliderBox h6 {
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.projects .projectSlider .sliderBox p {
    text-align: center;
    color: #B4B4AF;
}

.projects .projectSlider .sliderBox .sliderImg1 {
    width: 100%;
    height: 70%;
    background: url(../img/portfolio-01.jpg) no-repeat top / 100%;
}

.projects .projectSlider .sliderBox .sliderImg2 {
    width: 100%;
    height: 70%;
    background: url(../img/portfolio-02.jpg) no-repeat top / 100%;
}

.projects .projectSlider .sliderBox .sliderImg3 {
    width: 100%;
    height: 70%;
    background: url(../img/portfolio-03.jpg) no-repeat top / 100%;
}

.projects .projectSlider .sliderBox .sliderImg4 {
    width: 100%;
    height: 70%;
    background: url(../img/portfolio-04.jpg) no-repeat top / 100%;
}

.projects .projectSlider .sliderBox .sliderImg5 {
    width: 100%;
    height: 70%;
    background: url(../img/portfolio-01.jpg) no-repeat top / 100%;
}

.blog {
    width: 100%;
    height: 170vh;
    border: 1px solid;
    text-align: center;
    background: url(../img/blog-left-dec.jpg) no-repeat left / 80%;
}

.blog .blogHead {
    margin-top: 100px;
}

.blog .blogHead p {
    font-weight: 800;
    color: #726AE3;
}

.blog .blogHead h4 {
    font-size: 35px;
    font-weight: 800;
}

.blog .blogHead h4 span {
    color: #726AE3;
}

.blog .linedec5 {
    width: 54px;
    border: 1px solid #726AE3;
    margin: 0 0 0 48%;
}

.blog .blogCont {
    width: 100%;
    height: fit-content;
    border: 1px solid;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.blog .blogCont .leftBox {
    width: 40%;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.105);
    border-radius: 30px;
    position: relative;
}

.blog .blogCont .leftBox .leftImg {
    width: 100%;
    height: 400px;
    border-radius: 30px;
    background: url(../img/blog-post-01.jpg) no-repeat top / 100%;
}

.blog .blogCont .leftBox .seoAnalysis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.blog .blogCont .leftBox .seoAnalysis div:nth-child(1) {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #726AE3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;

}

.blog .blogCont .leftBox .seoAnalysis div:nth-child(2) {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #C1C1C1;

}

.blog .blogCont .leftBox h4 {
    font-size: 20px;
    font-weight: 800;
    text-align: start;
    margin: 25px 20px;
}

.blog .blogCont .leftBox>p {
    text-align: start;
    margin: 0px 0 25px 20px;
    letter-spacing: 0.5px;
    color: #B5B5B5;
}

.blog .blogCont .leftBox .blogDev {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blog .blogCont .leftBox .blogDev .devImg {
    background: url(../img/author-post.jpg) no-repeat center / 100%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.blog .blogCont .leftBox .blogDev p {
    padding: 0 170px 0 0;
    font-size: 15px;
}

.blog .blogCont .leftBox .blogDev>button {
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #FA65C2;
    border: 1px solid #FA65C2;
    background: #fff;
    cursor: pointer;
}

.blog .blogCont .leftBox .blogDev>button:hover {
    background: #FA65C2;
    color: #fff;
    transition: .5s linear;
}

.blog .blogCont .rightBox {
    width: 40%;
    height: 900px;
    border: 1px solid;
    border-radius: 30px;
    
}

.blog .blogCont .rightBox .boxOne {
    width: 100%;
    height: 27%;
    border: 1px solid;
    border-radius: 20px;    
    display: flex;
    justify-content: space-around;
}
.blog .blogCont .rightBox .boxOne .boxText > button{
    padding: 10px 16px;
    border-radius: 16px;
    background: #726AE3;
    color: #fff;
    border: none;
}

.blog .blogCont .rightBox .boxOne .boxText > p {
    font-size: 14px;
    color: #B4B4B4;
    text-align: right;
}

.blog .blogCont .rightBox .boxOne .boxText > h6 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.blog .blogCont .rightBox .boxOne .imgOne{
    width: 240px;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
    background: url(../img/blog-post-02.jpg) no-repeat center / cover;
}

.blog .blogCont .rightBox .boxTwo {
    width: 100%;
    height: 27%;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.blog .blogCont .rightBox .boxTwo .boxText > button{
    padding: 10px 16px;
    border-radius: 16px;
    background: #726AE3;
    color: #fff;
    border: none;
    
}

.blog .blogCont .rightBox .boxTwo .boxText > p {
    font-size: 14px;
    color: #B4B4B4;
    text-align: right;
}

.blog .blogCont .rightBox .boxTwo .boxText > h6 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.blog .blogCont .rightBox .boxTwo .imgTwo{
    width: 240px;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
    background: url(../img/blog-post-03.jpg) no-repeat center / cover;
}

.blog .blogCont .rightBox .boxThree {
    width: 100%;
    height: 27%;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.blog .blogCont .rightBox .boxThree .boxText > button{
    padding: 10px 16px;
    border-radius: 16px;
    background: #726AE3;
    color: #fff;
    border: none;
    
}

.blog .blogCont .rightBox .boxThree .boxText > p {
    font-size: 14px;
    color: #B4B4B4;
    text-align: right;
}

.blog .blogCont .rightBox .boxThree .boxText > h6 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.blog .blogCont .rightBox .boxThree .imgThree{
    width: 240px;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
    background: url(../img/blog-post-04.jpg) no-repeat center / cover;
}
.blog .blogCont .rightBox .boxText{
    width: 50%;
    height: 100%;
    border: 1px solid #000;
}
/* .blog .blogCont .rightBox .boxImg {
    width: 230px;
    height: 100%;
    border: 1px solid;
    border-radius: 20px;
} */
